<app-navigation></app-navigation>

<div class="page-content">
  <section class="content-inner-1 bg-darklight">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-10 col-md-12">
          <div class="error-page style-1">
            <div class="error-inner">
              <img src="assets/images/404.svg" alt="">
              <h6 class="error-head">Oh, no! this page does not exist.</h6>
              <p>We’re really sorry but we can’t seen to find the page you were looking for.</p>
              <a href="index.html" class="btn btn-outline-secondary ">Back To Home Page</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<app-footer></app-footer>