<!-- Newsletter Start-->
<section class="content-inner-1  overflow-hidden position-relative border-top">
  <div class="collection1 style-1 up-down"><img src="assets/images/collection/1.png" alt=""></div>
  <div class="collection3 style-1 up-down"><img src="assets/images/collection/2.png" alt=""></div>
  <div class="container">
    <div class="section-head style-1 d-block wow fadeInUp text-center" data-wow-delay="0.1s">
      <div class="max-w900 mx-auto">
        <h2 class="title mb-4">Subscribe Newsletter & Get Plant News</h2>
      </div>
    </div>
    <form class="dzSubscribe style-2" action="https://plantzone.dexignzone.com/xhtml/script/mailchamp.php"
      method="post">
      <div class="dzSubscribeMsg"></div>
      <div class="form-group">
        <div class="input-group mb-0">
          <input name="dzEmail" required="required" type="email" class="form-control h-70"
            placeholder="Your Email Address">
          <div class="sub-btn">
            <button name="submit" value="Submit" type="submit" class="btn btn-secondary">Subscribe
              Now</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
<!-- Newsletter End -->