<app-navigation></app-navigation>

<section class="px-3">
    <div class="row align-center-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 p-a0">
            <div class="login-slider">
                <div class="banner-login" style="background-image: url(assets/images/registration/pic2.jpg)">
                    <div class="banner-content">
                        <h4 class="sub-title">Log in </h4>
                        <h2 class="title">WelCome Back</h2>
                        <p class="text">Sign back in to your account to access your courses and embody the
                            art of being human.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 end-side-content">
            <div class="login-area">
                <h2 class="login-head mb-1">Sign in</h2>
                <p>Please Enter your Detail To Sign In</p>
                <form class="row gx-2" [formGroup]="form" (keydown.enter)="login()">
                    <div class="col-12">
                        <div class="m-b25">
                            <app-custom-input label="Email" placeholder="Email Addres" icon="fa-envelope"
                                formControlName="emila" autocomplete="emila"></app-custom-input>
                            <div class="mt-3">
                                <span class="fw-medium">emila: </span>
                                <mark class="px-1 rounded"
                                    (click)="copyToClipboard('user@example.com')">user&#64;example.com</mark>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="m-b10">
                            <label class="label-title">Password</label>
                            <div class="dz-search-password">
                                <app-custom-input label="Password" type="password" placeholder="Password"
                                    icon="fa-key-skeleton" formControlName="password"
                                    autocomplete="current-password"></app-custom-input>
                            </div>
                            <div class="mt-3">
                                <span class="fw-medium">password: </span>
                                <mark class="px-1 rounded"
                                    (click)="copyToClipboard('SecureP@ss123')">SecureP&#64;ss123</mark>
                            </div>
                        </div>
                    </div>
                    <div class="form-row d-flex justify-content-between m-b30">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input" id="basic_checkbox_01">
                                <label class="form-check-label" for="basic_checkbox_01">Remember For 30
                                    Days</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <a class="text-primary btn-border btn-link" href="forget-password.html">Forgot
                                Password</a>
                        </div>
                    </div>
                    <div>
                        <a href="registration.html" class="btn btn-secondary btn-lg w-100 btnhover me-2">Sign up</a>
                        <p class="m-t20 fw-light">Don’t Have an Account?
                            <a class="register text-primary font-weight-500" href="registration.html">Sign
                                up For Free</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>


<app-footer></app-footer>