.ql-editor {
  min-height: 300px;
  font-size: 16px;
}
.ql-toolbar {
  background: #f8f9fa;
  border-radius: 5px 5px 0 0;
}
.card {
  border-radius: 10px;
  overflow: hidden;
}

::ng-deep .ql-toolbar {
  border-radius: 8px;
  background-color: #f5f5f5;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

quill-editor {
  width: 100%;
}

::ng-deep .ql-editor.ql-blank::before {
  left: auto !important;
}

::ng-deep .ql-editor {
  min-height: 300px;
  font-size: 1rem;
  line-height: 1.8;
  color: #333333;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
}

::ng-deep .ql-editor img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

::ng-deep .ql-formats {
  display: flex;
  justify-content: flex-start;
}

::ng-deep .ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 3px 5px;
  width: 30px !important;
  border: 1px solid lightgray !important;
  border-radius: 8px;
  margin: 0 3px;
  height: 26px !important;
}

::ng-deep .ql-snow .ql-picker {
  border: 1px solid lightgray !important;
  border-radius: 8px;
  margin: 0 3px;
  height: 26px !important;
}

::ng-deep .ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'سر فصل' !important;
  font-family: primary-font !important;
}

::ng-deep
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='1']::before {
  content: 'هدینگ ۱' !important;
  font-family: primary-font !important;
}

::ng-deep
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='2']::before {
  content: 'هدینگ ۲' !important;
  font-family: primary-font !important;
}

::ng-deep
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='3']::before {
  content: 'هدینگ ۳' !important;
  font-family: primary-font !important;
}

::ng-deep
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='4']::before {
  content: 'هدینگ ۴' !important;
  font-family: primary-font !important;
}

::ng-deep
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='5']::before {
  content: 'هدینگ ۵' !important;
  font-family: primary-font !important;
}

::ng-deep
  .ql-snow
  .ql-picker.ql-header
  .ql-picker-item[data-value='6']::before {
  content: 'هدینگ ۶' !important;
  font-family: primary-font !important;
}

::ng-deep .ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'نرمال' !important;
  font-family: primary-font !important;
}
::ng-deep .ql-snow .ql-picker.ql-expanded .ql-picker-options {
  padding: 11px;
}
::ng-deep .ql-container {
  font-family: primary-font !important;
}

::ng-deep .ql-snow .ql-formats {
  float: inline-end !important;
}
::ng-deep .ql-toolbar .ql-formats:nth-of-type(2) {
  float: none !important;
  margin: 0 !important;
}
::ng-deep .ql-container.ql-snow {
  border-radius: 0 0 8px 8px;
  min-height: 5rem;
}
::ng-deep .ql-container.ql-snow:focus-within {
  color: #404448;
  background-color: #fff;
  border-color: #066ac9;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(6, 106, 201, 0.25);
  box-shadow: 0 0 0 0 rgba(6, 106, 201, 0.25);
}

::ng-deep .ql-toolbar.ql-snow {
  border-radius: 8px 8px 0 0;
  justify-items: center;
}
::ng-deep .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  left: 0;
  right: auto !important;
}

#editor {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-height: 200px;
}

.preview-container {
  margin-top: 20px;
}

#preview {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background: #f9f9f9;
}

#preview {
  direction: rtl;
  text-align: right;
}

::ng-deep .ql-align-right {
  text-align: right !important;
}

::ng-deep .ql-align-center {
  text-align: center !important;
}

::ng-deep .ql-align-left {
  text-align: left !important;
}

::ng-deep .ql-direction-rtl {
  direction: rtl !important;
}

::ng-deep .ql-direction-ltr {
  direction: ltr !important;
}

.image-container:hover {
  border-color: #007bff;
}
.cropped-preview {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 780px;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}
.perv-modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}
.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.file-input {
  margin-bottom: 10px;
}
.image-container {
  width: 100%;
  min-height: 18rem;
  max-height: 25rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.image-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 8px;
}
.image-container:hover .image-overlay {
  opacity: 1;
}
.upload-text {
  color: #fff;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 15px;
  border-radius: 5px;
}
.placeholder-text {
  color: #aaa;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
}

.cms-item {
  position: relative;
  border: 1px dashed #888;
}
.cms-item > p:first-of-type {
  position: absolute;
  top: -23px;
  background: white;
  padding: 10px;
  font-size: 16px;
  color: black;
}
