<!-- Banner Start -->
<div class="main-banner style-1">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-3 col-lg-7 col-md-7 align-self-start order-md-0 order-1">
        <div class="single-product-info-left">
          <div class="content-info">
            <h1 class="title wow fadeInUp" data-wow-delay="0.2s">Bring Nature Home</h1>

            <p class="subtitle wow fadeInUp m-b20" data-wow-delay="0.4s">
              Discover the calming beauty of indoor plants and elevate your living space with fresh, green energy.
            </p>

            <ul class="plant-benefits wow fadeInUp m-b30 m-lg-b40" data-wow-delay="0.6s">
              <li><i class="fa fa-leaf text-success me-2"></i> Purifies Air Naturally</li>
              <li><i class="fa fa-heart text-danger me-2"></i> Reduces Stress & Anxiety</li>
              <li><i class="fa fa-sun text-warning me-2"></i> Improves Mood & Focus</li>
            </ul>

            <div class="content-btn wow fadeInUp" data-wow-delay="0.8s" data-swiper-parallax="-60">
              <a class="btn btn-secondary btn-lg me-3" href="product-default.html">Explore Collection</a>
              <a class="btn btn-outline-secondary btn-lg" href="shop-cart.html">Shop Now</a>
            </div>
          </div>

        </div>
        <div class="bottom-contant">
          <div class="Plant-2">
            <div class="dz-media">
              <img src="assets/images/shop/product/4.png" alt="image">
            </div>
          </div>
          <div class="Plant-2">
            <div class="dz-media">
              <img src="assets/images/shop/product/3.png" alt="image">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-8 col-sm-12  order-3 order-xl-2 ">
        <div class="tab-content single-product-media">
          <div class="tab-pane fade show active" id="banner-Plant_1-pane" role="tabpanel"
            aria-labelledby="banner-Plant_1" tabindex="0">
            <div class="dz-media">
              <img src="assets/images/shop/product1.png" alt="/">
            </div>
            <ul class="list-check style-1">
              <li class="list-1">Connection to Nature</li>
              <li class="list-2 right">Temperature Regulation</li>
              <li class="list-3">Improved Air Quality</li>
              <li class="list-4 right">Humidity Regulation</li>
            </ul>
          </div>
          <div class="tab-pane fade show" id="banner-Plant_2-pane" role="tabpanel" aria-labelledby="banner-Plant_2"
            tabindex="0">
            <div class="dz-media">
              <img src="assets/images/shop/product2.png" alt="/">
            </div>
            <ul class="list-check style-1">
              <li class="list-1">Connection to Nature</li>
              <li class="list-2 right">Temperature Regulation</li>
              <li class="list-3">Improved Air Quality</li>
              <li class="list-4 right">Humidity Regulation</li>
            </ul>
          </div>
          <div class="tab-pane fade show" id="banner-Plant_3-pane" role="tabpanel" aria-labelledby="banner-Plant_3"
            tabindex="0">
            <div class="dz-media">
              <img src="assets/images/shop/product3.png" alt="/">
            </div>
            <ul class="list-check style-1">
              <li class="list-1">Connection to Nature</li>
              <li class="list-2 right">Temperature Regulation</li>
              <li class="list-3">Improved Air Quality</li>
              <li class="list-4 right">Humidity Regulation</li>
            </ul>
          </div>
          <div class="tab-pane fade show" id="banner-Plant_4-pane" role="tabpanel" aria-labelledby="banner-Plant_4"
            tabindex="0">
            <div class="dz-media">
              <img src="assets/images/shop/product4.png" alt="/">
            </div>
            <ul class="list-check style-1">
              <li class="list-1">Connection to Nature</li>
              <li class="list-2 right">Temperature Regulation</li>
              <li class="list-3">Improved Air Quality</li>
              <li class="list-4 right">Humidity Regulation</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-5 col-md-5 col-sm-12  order-2 order-xl-3 ">
        <div class="single-product-info-right ">
          <ul class="nav nav-tabs center banner-Plant row justify-content-end border-0" id="myTab-3" role="tablist">
            <li class="col-xl-5 col-lg-6 col-md-6 col-sm-3  col-6  nav-item" role="presentation">
              <button class="nav-link active" id="banner-Plant_1" data-bs-toggle="tab"
                data-bs-target="#banner-Plant_1-pane" type="button" role="tab" aria-controls="banner-Plant_1"
                aria-selected="true">
                <span class="Plant-1">
                  <span class="dz-media">
                    <img src="assets/images/shop/medium/1.png" alt="image">
                  </span>
                </span>
              </button>
            </li>
            <li class="col-xl-5 col-lg-6 col-md-6 col-sm-3  col-6  nav-item p-t50" role="presentation">
              <button class="nav-link" id="banner-Plant_2" data-bs-toggle="tab" data-bs-target="#banner-Plant_2-pane"
                type="button" role="tab" aria-controls="banner-Plant_2" aria-selected="true">
                <span class="Plant-1">
                  <span class="dz-media">
                    <img src="assets/images/shop/medium/2.png" alt="image">
                  </span>
                </span>
              </button>
            </li>
            <li class="col-xl-5 col-lg-6 col-md-6 col-sm-3  col-6  nav-item" role="presentation">
              <button class="nav-link" id="banner-Plant_3" data-bs-toggle="tab" data-bs-target="#banner-Plant_3-pane"
                type="button" role="tab" aria-controls="banner-Plant_3" aria-selected="true">
                <span class="Plant-1">
                  <span class="dz-media">
                    <img src="assets/images/shop/medium/3.png" alt="image">
                  </span>
                </span>
              </button>
            </li>
            <li class="col-xl-5 col-lg-6 col-md-6 col-sm-3  col-6  nav-item p-t50" role="presentation">
              <button class="nav-link" id="banner-Plant_4" data-bs-toggle="tab" data-bs-target="#banner-Plant_4-pane"
                type="button" role="tab" aria-controls="banner-Plant_4" aria-selected="true">
                <span class="Plant-1">
                  <span class="dz-media">
                    <img src="assets/images/shop/medium/4.png" alt="image">
                  </span>
                </span>
              </button>
            </li>
          </ul>
          <div class="bottom-contant">
            <div class="Plant-2">
              <div class="dz-media">
                <img src="assets/images/shop/product/6.png" alt="image">
              </div>
            </div>
            <div class="Plant-2">
              <div class="dz-media">
                <img src="assets/images/shop/product/1.png" alt="image">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="right-text-bar">
    <ul>
      <li>
        <a href="shop-with-category.html">Recent Items</a>
      </li>
      <li><img src="assets/images/shop/small/pic1.png" alt=""></li>
      <li><img src="assets/images/shop/small/pic2.png" alt=""></li>
    </ul>
  </div>
  <span class="data-text ">Plant</span>
</div>
<!-- Banner End-->