<!--==================================================-->
<!-- Start Plantfolio Header Area -->
<!--==================================================-->
<app-navigation></app-navigation>
<!--==================================================-->
<!-- End Plantfolio Header Area -->
<!--==================================================-->

<div class="page-wraper" id="scroll-container">

    <!-- <app-website-loader></app-website-loader> -->

    <div class="page-content">

        <!-- Start Hero Area -->
        <app-hero-area></app-hero-area>
        <!-- End Hero Area -->

        <!-- Start Category Area -->
        <app-category-area></app-category-area>
        <!-- End Category Area -->

        <!-- Start About Area -->
        <app-about-area></app-about-area>
        <!-- End About Area -->

        <!-- Start Products Area -->
        <app-products-area></app-products-area>
        <!-- End Products Area -->

        <!-- Start Blog Area -->
        <app-blog-area></app-blog-area>
        <!-- End Blog Area -->

        <!-- Start NewsLetter Area -->
        <app-newsletter-area></app-newsletter-area>
        <!-- End NewsLetter Area -->

        <!-- Feature Box -->
        <div class="content-inner py-0  image-wrapper">
            <div class="container-fluid px-0">
                <div class="row gx-0">
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 wow fadeIn" data-wow-delay="0.1s">
                        <div class="insta-post dz-media box-hover">
                            <img src="assets/images/plants/feature/1.png" alt="">
                            <a href="https://www.instagram.com/dexignzone/" class="instagram-link" target="_blank">
                                <div class="follow-link">
                                    <div class="follow-link-icon">
                                        <img src="assets/images/insta-follow.png" alt="">
                                    </div>
                                    <div class="follow-link-content">
                                        <h6>Share with #PlantZone</h6>
                                        <p class="m-0">Follow <span>&#64;PlantZone </span>for inspiration.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 wow fadeIn" data-wow-delay="0.2s">
                        <div class="insta-post dz-media box-hover">
                            <img src="assets/images/plants/feature/2.png" alt="">
                            <a href="https://www.instagram.com/dexignzone/" class="instagram-link" target="_blank">
                                <div class="follow-link">
                                    <div class="follow-link-icon">
                                        <img src="assets/images/insta-follow.png" alt="">
                                    </div>
                                    <div class="follow-link-content">
                                        <h6>Share with #PlantZone</h6>
                                        <p class="m-0">Follow <span>&#64;PlantZone </span>for inspiration.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 wow fadeIn" data-wow-delay="0.3s">
                        <div class="insta-post dz-media box-hover">
                            <img src="assets/images/plants/feature/3.png" alt="">
                            <a href="https://www.instagram.com/dexignzone/" class="instagram-link" target="_blank">
                                <div class="follow-link">
                                    <div class="follow-link-icon">
                                        <img src="assets/images/insta-follow.png" alt="">
                                    </div>
                                    <div class="follow-link-content">
                                        <h6>Share with #PlantZone</h6>
                                        <p class="m-0">Follow <span>&#64;PlantZone </span>for inspiration.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 wow fadeIn" data-wow-delay="0.4s">
                        <div class="insta-post dz-media box-hover">
                            <img src="assets/images/plants/feature/4.png" alt="">
                            <a href="https://www.instagram.com/dexignzone/" class="instagram-link" target="_blank">
                                <div class="follow-link">
                                    <div class="follow-link-icon">
                                        <img src="assets/images/insta-follow.png" alt="">
                                    </div>
                                    <div class="follow-link-content">
                                        <h6>Share with #PlantZone</h6>
                                        <p class="m-0">Follow <span>&#64;PlantZone </span>for inspiration.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 wow fadeIn" data-wow-delay="0.5s">
                        <div class="insta-post dz-media box-hover">
                            <img src="assets/images/plants/feature/5.png" alt="">
                            <a href="https://www.instagram.com/dexignzone/" class="instagram-link" target="_blank">
                                <div class="follow-link">
                                    <div class="follow-link-icon">
                                        <img src="assets/images/insta-follow.png" alt="">
                                    </div>
                                    <div class="follow-link-content">
                                        <h6>Share with #PlantZone</h6>
                                        <p class="m-0">Follow <span>&#64;PlantZone </span>for inspiration.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-4 col-sm-4 col-4 wow fadeIn" data-wow-delay="0.6s">
                        <div class="insta-post dz-media box-hover">
                            <img src="assets/images/plants/feature/6.png" alt="">
                            <a href="https://www.instagram.com/dexignzone/" class="instagram-link" target="_blank">
                                <div class="follow-link">
                                    <div class="follow-link-icon">
                                        <img src="assets/images/insta-follow.png" alt="">
                                    </div>
                                    <div class="follow-link-content">
                                        <h6>Share with #PlantZone</h6>
                                        <p class="m-0">Follow <span>&#64;PlantZone </span>for inspiration.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature Box End -->

    </div>

    <div class="scroltop-progress2"></div>
    <button class="scroltop" type="button"><i class="fas fa-arrow-up"></i></button>

</div>

<!--==================================================-->
<!-- Start Plantfolio Header Area -->
<!--==================================================-->
<app-footer></app-footer>
<!--==================================================-->
<!-- End Plantfolio Header Area -->
<!--==================================================-->