<!-- Blog Start -->
<section class="content-inner overflow-hidden p-t0">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="section-head style-1 wow fadeInUp" data-wow-delay="0.1s">
          <div class="left-content">
            <h2 class="title">Latest Plant News</h2>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-sm-12 text-md-end m-b30 wow fadeInUp" data-wow-delay="0.2s">
        <a class="btn btn-outline-secondary m-b30" href="post-standard.html">View All</a>
      </div>
    </div>
  </div>
  <div class="swiper swiper-blog-post">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.2s">
          <div class="dz-media">
            <img src="assets/images/blog/grid/1.jpg" alt="">
            <div class="post-date">17 May 2022</div>
          </div>
          <div class="dz-info">
            <h3 class="dz-title mb-0">
              <a href="https://plantzone.dexignzone.com/xhtml/page-error-404.html">Insights into
                Plant Care & Cultivation</a>
            </h3>
            <ul class="blog-social">
              <li>
                <a class="share-btn" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
                <ul class="sub-team-social">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.4s">
          <div class="dz-media">
            <img src="assets/images/blog/grid/2.jpg" alt="">
            <div class="post-date">16 May 2022</div>
          </div>
          <div class="dz-info">
            <h3 class="dz-title mb-0">
              <a href="https://plantzone.dexignzone.com/xhtml/page-error-404.html">Exploring the
                World of Plants Stories</a>
            </h3>
            <ul class="blog-social">
              <li>
                <a class="share-btn" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
                <ul class="sub-team-social">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.6s">
          <div class="dz-media">
            <img src="assets/images/blog/grid/3.jpg" alt="">
            <div class="post-date">07 JuN 2022</div>
          </div>
          <div class="dz-info">
            <h3 class="dz-title mb-0">
              <a href="https://plantzone.dexignzone.com/xhtml/page-error-404.html">Stories from
                the Plant Kingdom</a>
            </h3>
            <ul class="blog-social">
              <li>
                <a class="share-btn" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
                <ul class="sub-team-social">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dz-card style-2 wow fadeInUp" data-wow-delay="0.8s">
          <div class="dz-media">
            <img src="assets/images/blog/grid/4.jpg" alt="">
            <div class="post-date">02 FEB 2022</div>
          </div>
          <div class="dz-info">
            <h3 class="dz-title mb-0">
              <a href="https://plantzone.dexignzone.com/xhtml/page-error-404.html">All About
                Plants and Gardens Corner</a>
            </h3>
            <ul class="blog-social">
              <li>
                <a class="share-btn" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
                <ul class="sub-team-social">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="dz-card style-2 wow fadeInUp" data-wow-delay="1.0s">
          <div class="dz-media">
            <img src="assets/images/blog/grid/5.jpg" alt="">
            <div class="post-date">17 May 2022</div>
          </div>
          <div class="dz-info">
            <h3 class="dz-title mb-0">
              <a href="https://plantzone.dexignzone.com/xhtml/page-error-404.html">Nurturing Your
                Passion for Plants</a>
            </h3>
            <ul class="blog-social">
              <li>
                <a class="share-btn" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M7 17L17 7" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M7 7H17V17" stroke="black" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                </a>
                <ul class="sub-team-social">
                  <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                  <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                  <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                  <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog End -->